/* xREL Advanced Script */

#xrelAdvMenu {
    box-shadow: 0 0 5px #888;
    background-color: rgba(255,255,255,0.9);
    color: #000;
}
#hovercover {
    background-color: #f2f1f1;
    border-color: #f2f1f1;
}

.dropdown-content {
    border-color: #f2f1f1;
    color: #000;
    background-color: #fff;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

/* xREL Advanced Light v2*/

html {
    background: #f2f2f2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABPIAAAABBAMAAACmmZ2iAAAALVBMVEXc3Nze3t7f39/j4+Pk5OTo6Ojr6+vt7e3u7u7w8PDx8fHy8vLz8/P+/v7///9q6wN+AAAAH0lEQVQoz2PYTS44c3pVWbDAvXejYIQCJteM2bvJBwBozjCJl498WQAAAABJRU5ErkJggg==) repeat-y top center;
}

#top_bar {
    background: url(/static/img/bg/top_bar.jpg) repeat-x 0 0;
    text-shadow: 0 1px #fff;
}

#language_box {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAADCAYAAABF//VLAAAACXBIWXMAAAsSAAALEgHS3X78AAAAE0lEQVR4nGP4////M2IxA80UAwDY9oBEkLUwvAAAAABJRU5ErkJggg==) repeat;
    border: 1px solid #dbdbdb;
}

#nav_cats {
    filter: none;
}

.tippy-box[data-theme~='v3menu'] {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAADCAYAAABF//VLAAAACXBIWXMAAAsSAAALEgHS3X78AAAAE0lEQVR4nGP4////M2IxA80UAwDY9oBEkLUwvAAAAABJRU5ErkJggg==) repeat;
    border:1px solid #dbdbdb;
}

#nav_bottom {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAyCAIAAAAbcoanAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHFJREFUeNq0kNENwCAIRDlk/0ldQagRtVYTE9N4P/A4RAUxRlCVETFKcMg5UwldTM1H59mnlW31vSSW1UaYs2deFRuGvX7Xf1ad/fF/oq2/vjel9OnX9Txt9iEAthxCOGJm3vI8/69/mY/3dfm+R4ABAKt1OKdndbaIAAAAAElFTkSuQmCC) repeat-x center top;
    text-shadow: #f6f6f6 0 1px 0;
    color: #000;
}

#nav_bottom .tools a {
    filter: none;
}

/* Favoritenmenue */

#global_fav_container {
    filter: none;
}

.fav_list_topic {
    color: #9f9f9f;
}

.fav_topic_opt_t {
    color: #989898 !important;
}

/* Suchleiste wieder herstellen */

.nav_bottom_right .search_input {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAYCAQAAACYLv8rAAAAnklEQVQY00XPzQoBYRTG8ZObsncN7kC5APdj4w5YzCgfYxAmNahJDcZmFjJWIjGa/t43dM7q16nTeR5BELfqtt2HRcvBI0S6NYeAhAwZxGOOXMmR3nvNhTcYEptdYdnnwA07MjQnP3qG9y9HSl85UU6VM+VcuVAGyqV+C5/7P6Pz9p8s7axM3tyyqBySiBMv07dEPfN36aYQW54yDZofppLXhqiBZ2EAAAAASUVORK5CYII=) no-repeat top left;
}

.nav_bottom_right .search_input > div input {
    border: none;
    color: #aaa !important;
    box-shadow: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYBAMAAADJ4orpAAAAElBMVEX///+3t7fQ0NDd3d309PT///9uDq5UAAAAAXRSTlOh4TdLGAAAABVJREFUCNdjEGAwYHBgCCAKKjAwAACfQAaRZG6OsQAAAABJRU5ErkJggg==) repeat-x top;
    border-color: #464646;
    border-radius: 0;
    border-style: none;
    border-width: 0px;
}

.nav_bottom_right .search_input > div {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAYCAQAAACYLv8rAAAAjklEQVQY00XOzwoBYRRA8ZuXsvcM3kB5AO9j4w1kcdVgTDRINMrGhNSUxVhQpPz5HKO+3LP6LY/oXdtaVVGRlCUh2ip45UJOTLcm4HhypL8p+OtB8PJ0BHhCzzgwhsahMTKOjGNjbJwYp8aZcc5/Z/H2vLE+eR7IOvLhzJ7tzlVk5dIsj6hTEpo0KCeSyBdw9dpKrd4jyAAAAABJRU5ErkJggg==) no-repeat top right;
}

#searchAutoComplete {
    filter: none;
    color: #ccc;
}

.nav_bottom_right input.submit {
    filter: none;
}

/* Uebersicht zuruecksetzen */

.release_updater {
    filter: none;
}

#rls_filter_selection {
    filter: none;
}

#rls_filter_box {
    filter: none;
}

.release_odd {
    background-color: #f8f8f8;
}

.horiz_line {
    height: 1px;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAANvb2wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) repeat-x center;
}

.release_date {
    color: #000;
}

.release_type {
    color: #000;
}

.box1 {
    background: #f2f1f1;
}

.box_content {
    color: #000;
    background: #fff;
}

.releases_bottom {
    filter: none;
}

#release-archive-popup {
    box-shadow: 1px 1px 10px #888;
    filter: none;
}

.no-releases-msg {
    color: #000;
}

#middle_spawn .article_cat + .horiz_line + div {
    background: none !important;
}

#middle_spawn .horiz_line_dotted + div:not(.article_text):not(.comment_helpful_frame):not(.comment_links_frame) {
    background: none !important;
}

/* Blogeintraege zuruecksetzen */

.headline1_2 {
    color: #000;
}

.article_text {
    color: #000;
}

.blog_overview_btm_small {
    filter: none;
}

.blog_author_middle {
    color: #000;
}

/* Produktinfo zuruecksetzen */

#extinfo_title h3, h2 {
    color: #000;
}

#fav_add {
    filter: none;
}

#fav_add_list {
    filter: none;
}

table.bb_table th {
    color: #7a7a7a;
    filter: none;
    border: 1px solid #ddd;
}

table.bb_table td {
    background-color: #fff;
    border: 1px solid #ddd;
}

.sub_bar_active {
    filter: none;
}

.sub_bar_active2 {
    filter: none;
}

.sub_bar {
    background: url(/static/img/bg/sub_bar.jpg) repeat-x;
}

.extinfo_box_date {
    background: url(/static/img/bg/sub_bar.jpg) repeat-x;
}

.mediathek_top {
    filter: none;
}

.mediathek_bottom {
    filter: none;
}

.middle_extinfo_news {
    color: #000;
}

.featherlight .featherlight-content {
    background: #fff;
}
.featherlight .featherlight-close-icon {
    background: rgba(255,255,255,.3);
}

.span_padding {
    color: #000;
}

.span_padding sub {
    color: #000;
}

.nfo_scaling {
    background: url(/static/img/bg/nfo_zoom_bg.jpg) no-repeat;
}

/* Top100 */

.extinfo_top_title {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAgCAIAAABch4VNAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNo0iksKQDEIA/3gqnvv1nP3NCLW9yI0MAya6N5b1lrs7kJEoqqCMPNgZmP8Xwdji8Do342uu4d771BVEhFjkJl0zqF/8wkwAK07IjCcZIVVAAAAAElFTkSuQmCC) repeat-x;
}

.extinfo_top_title div.tab_active {
    filter: none;
}

.extinfo_top_subtitle {
    filter: none;
}

.extinfo_top_list {
    filter: none;
}

.extinfo_top_list_entry {
    background: url(data:image/gif;base64,R0lGODlhAwABAIABAM3Nzf///yH5BAEAAAEALAAAAAADAAEAAAICRFIAOw==) repeat-x bottom;
}

.extinfo_top_list_entry_odd, .extinfo_awaited_entry_even {
    background-color: rgb(248,248,248) !important;
}

.extinfo_top_list_entry .nr, .extinfo_awaited_entry .nr {
    color: #000;
}

.extinfo_top_list_content {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAANvb2wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) repeat-x bottom;
    border-bottom: none;
}

.extinfo_top_description {
    filter: none;
}

/* awaited */

div.table-head {
    filter: none;
}

div.table-row > div.w10, div.table-head > div.w10 {
    color: #000;
}

/* TV */

.series_content {
    background: #fff;
}

/* Trailer */

h3.trailers_headline {
    color: #000;
}

div.trailers_new {
    filter: none;
}

/* Board */

.board_forum_postcount {
    color: #000;
}

.comment_odd {
    background-color: rgb(253,253,253);
}

.headline2 a:link, .headline2 a:visited {
    color: #000;
}

.comment_helpful_frame {
    color: #000;
}

.editor_frame {
    background: #efefef;
}

.textarea {
    background: none;
}

textarea.textarea, .inputlike {
    border-color: #ccc;
    color: #000;
}

.emoticon-popup {
    border: 1px solid #cdcdcd;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAADCAYAAABF//VLAAAACXBIWXMAAAsSAAALEgHS3X78AAAAE0lEQVR4nGP4////M2IxA80UAwDY9oBEkLUwvAAAAABJRU5ErkJggg==) repeat;
}

/* Buttons */

input[type="reset"], input[type="submit"], input[type="button"], button[type="button"] {
    filter: none;
}

/* Settings */

.article {
    color: #000;
}

input[type="text"], input[type="password"], input[type="date"], input[type="url"], input[type="email"], textarea.textarea, .inputlike {
    border-color: #ccc;
    background: none;
    color: #000;
}

.plot_frame {
    color: #000;
}

.button_expand {
    background-color: #fff;
    border: #cdcdcd solid 1px;
    color: #000;
}

div.table-row > div.w90, div.table-head > div.w90 {
    color: #000;
}

/* wiki rss api */

.bb_quote, .bb_box {
    background: #efefef;
}

.headline3 a {
    color: #000;
}

/* quickcheck */

.page-releases-quickcheck #raw-input {
    background: none;
    border: none;
}

/* p2p NFO Post*/

#p2p-nfo-post-bar-step1 {
    filter: none;
}

#p2p-nfo-post-bar-step2 {
    filter: none;
}

#p2p-nfo-post-bar-step3 {
    filter: none;
}

#p2p-nfo-post-bar-step4 {
    filter: none;
}

.wizard-steps {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAANvb2wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) repeat-x left bottom;
    border-bottom: none;
}

.wizard-step-contents .label {
    color: #000;
}

.p2p-nfo-post-time {
    color: #000;
}

/* bottom menue*/

#bottom_sitemap {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAYAAAByfjF8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEJJREFUeNp0zsEKACAIA9DV//+dX2KnysIYnRK7PCYDGUTE0VRRATjZZBG7yZkKMHkGRkJ/U+Bb9ORBIFtgYe4RYADjsC6ggbDR3gAAAABJRU5ErkJggg==) repeat-x center top;
}
