/* xREL Advanced Script */

#xrelAdvMenu {
    box-shadow: 0 0 5px #040404;
    background-color: #404040;
    color: #fff;
}
#hovercover {
    background-color: #464646;
    border-color: #464646;
}
.dropdown-titel {
    background: url(/static/img/bg/sidebar_top.jpg) no-repeat;
    line-height: 30px;
    height: 30px;
    width: 210px;
    display: none;
    position: absolute;
    color: #fff;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.9);
    z-index: 1;
}

.dropdown-content {
    line-height: 20px;
    width: 180px;
    border-style: solid;
    border-width: 5px;
    border-color: #464646;
    padding: 0 0 0 20px;
    color: #fff;
    background-color: #242424;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.9);
}

.dropdown-content a:hover {
    background-color: #3b3b3b;
}

.dropdown:hover .dropdown-titel {
    display: block;
}

/* xREL Advanced Dark v2*/

html {
    background: #3b3b3b url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABPIAAAABCAYAAABUt4CRAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TpSIVh1YQcchQFcGCqIijVqEIFUKt0KqDyaVf0KQhaXFxFFwLDn4sVh1cnHV1cBUEwQ8QNzcnRRcp8X9JoUWMB8f9eHfvcfcOEOolplkd44CmV8xkPCamM6ti4BUBhNCHEYzKzDLmJCkBz/F1Dx9f76I8y/vcn6NHzVoM8InEs8wwK8QbxNObFYPzPnGYFWSV+Jx4zKQLEj9yXXH5jXPeYYFnhs1Ucp44TCzm21hpY1YwNeIp4oiq6ZQvpF1WOW9x1kpV1rwnf2Ewq68sc53mIOJYxBIkiFBQRRElVBClVSfFQpL2Yx7+AccvkUshVxGMHAsoQ4Ps+MH/4He3Vm5ywk0KxoDOF9v+GAICu0CjZtvfx7bdOAH8z8CV3vKX68DMJ+m1lhY5Anq3gYvrlqbsAZc7QP+TIZuyI/lpCrkc8H5G35QBQrdA95rbW3Mfpw9AirpK3AAHh8BwnrLXPd7d1d7bv2ea/f0AqfVyvehLChwAAAAGYktHRAD/AP8A/6C9p5MAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQflBxMVNhGDkNTsAAAAUElEQVRYw+3YsQ0AMQhDUTvUmSj7T5QauC6nGyGn/yRL0OIOr7VauF73W6PtM0eEbGuMoYg4+96bowEAAAAAcKk5p6pKmamqOunuz48A//IA8RwcsqWMeFgAAAAASUVORK5CYII=) repeat-y top center;
}

#top_bar {
    background-image: url("data:image/png;base64,R0lGODlhAQAfAMIGADc3Nzg4ODk5OTo6Ojs7O0pKSv///////yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAcALAAAAAABAB8AAAMMCBrcLnBISeogt5YEADs=");
    text-shadow: 0 0px #000;
}

#language_box {
    background: #242424db;
    border: 1px solid #333;
}

#nav_cats {
    filter: invert(80%);
}

.tippy-box[data-theme~='v3menu'] {
    background: #242424db;
    border:1px solid #333;
}

#nav_bottom {
    background: url(data:image/png;base64,R0lGODlhBQAyAIQYADQ0NDU1NTY2Njc3Nzg4ODk5OTo6Ojs7Ozw8PD09PT4+Pj4/Pz8/Pz9AQEBAQEFBQUJCQkNDQ0NEREREREZGRkdHR0hISElJSf///////////////////////////////yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAB8ALAAAAAAFADIAAAVboCKOZLmcDOM0bOO8cPzMdG1DOB7tu+T7k6BwSCkWK0ikZbm8OJ/QKHOZRBqLwwlvZ7PFHKlwKUEumxFo9GHNbhve8Li8QKcT7vi8fsDv+/8CgYEBhIWGAIiIIQA7) repeat-x center top;
    text-shadow: #333 0 1px 0;
    color: #ccc;
}

#nav_bottom .tools a {
    filter: invert(80%);
}
/* Favoritenmenue */

#global_fav_container {
    filter: invert(80%);
}

.fav_list_topic {
    color: #fff;
}

.fav_topic_opt_t {
    color: #f0f0f0 !important;
}

/* Suchleiste neu erstellen */

.nav_bottom_right .search_input {
    background: #fff0;
}

.nav_bottom_right .search_input > div input {
    border: 3px;
    color: #fff !important;
    background: #3b3b3b;
    border-color: #464646;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2) inset;
}

.nav_bottom_right .search_input > div {
    background: #fff0;
}

#searchAutoComplete {
    filter: invert(80%);
    color: #000;
}

.nav_bottom_right input.submit {
    filter: invert(80%);
}

/* Uebersicht anpassen */

.release_updater {
    filter: invert(80%);
}

#rls_filter_selection {
    filter: invert(80%);
}

#rls_filter_box {
    filter: invert(80%);
}

.release_odd {
    background: #292929;
}

.horiz_line {
    background: #4d4d4d;
    height: 1px;
}

.release_date {
    color: #fff;
}

.release_type {
    color: #fff;
}

.box1 {
    background: #464646;
}

.box_content {
    color: #fff;
    background: #242424;
}

.releases_bottom {
    filter: invert(80%);
}

#release-archive-popup {
    box-shadow: 1px 1px 10px #fff;
    filter: invert(80%);
}

.no-releases-msg {
    color: #9f9f9f;
}

#middle_spawn .article_cat + .horiz_line + div {
    background: #242424 !important;
}

#middle_spawn .horiz_line_dotted + div:not(.article_text):not(.comment_helpful_frame):not(.comment_links_frame) {
    background: #333232 !important;
}

/* Blogeintraege anpassen */

.headline1_2 {
    color: #fff;
}

.article_text {
    color: #9f9f9f;
}

.blog_overview_btm_small {
    filter: invert(80%);
}

.blog_author_middle {
    color: #fff;
}

/* Produktinfo anpassen */

#extinfo_title h3, h2 {
    color: #fff;
}

#fav_add {
    filter: invert(80%);
}

#fav_add_list {
    filter: invert(80%);
}

table.bb_table th {
    color: #000;
    filter: invert(80%);
    border: 1px solid #6a6a6a;
}

table.bb_table td {
    background: #333232;
    border: 1px solid #6a6a6a;
}

.sub_bar_active {
    filter: invert(80%);
}

.sub_bar_active2 {
    filter: invert(80%);
}

.sub_bar {
    background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEBLAEsAAD/4QP4RXhpZgAASUkqAAgAAAAHABIBAwABAAAAAQAAABoBBQABAAAAYgAAABsBBQABAAAAagAAACgBAwABAAAAAgAAADEBAgANAAAAcgAAADIBAgAUAAAAgAAAAGmHBAABAAAAlAAAAKYAAAAsAQAAAQAAACwBAAABAAAAR0lNUCAyLjEwLjI0AAAyMDIxOjA4OjA5IDE4OjUyOjE4AAEAAaADAAEAAAABAAAAAAAAAAgAAAEEAAEAAAAJAAAAAQEEAAEAAAAAAQAAAgEDAAMAAAAMAQAAAwEDAAEAAAAGAAAABgEDAAEAAAAGAAAAFQEDAAEAAAADAAAAAQIEAAEAAAASAQAAAgIEAAEAAADdAgAAAAAAAAgACAAIAP/Y/+AAEEpGSUYAAQEAAAEAAQAA/9sAQwAIBgYHBgUIBwcHCQkICgwUDQwLCwwZEhMPFB0aHx4dGhwcICQuJyAiLCMcHCg3KSwwMTQ0NB8nOT04MjwuMzQy/9sAQwEJCQkMCwwYDQ0YMiEcITIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy/8AAEQgBAAAJAwEiAAIRAQMRAf/EAB8AAAEFAQEBAQEBAAAAAAAAAAABAgMEBQYHCAkKC//EALUQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+v/EAB8BAAMBAQEBAQEBAQEAAAAAAAABAgMEBQYHCAkKC//EALURAAIBAgQEAwQHBQQEAAECdwABAgMRBAUhMQYSQVEHYXETIjKBCBRCkaGxwQkjM1LwFWJy0QoWJDThJfEXGBkaJicoKSo1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoKDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uLj5OXm5+jp6vLz9PX29/j5+v/aAAwDAQACEQMRAD8A4yisjzpf+ej/APfRo86X/no//fRoANo9KNo9KdijFACZozRRQAYNGDTqKAEooooAKKKKACijFGKAFooooAKKWigAooopAFFFFABijFLRQAUUUUAFFFFABRV77PF/d/U0fZ4v7v6mgCWiiigD/9kA/+EMd2h0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8APD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNC40LjAtRXhpdjIiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczpHSU1QPSJodHRwOi8vd3d3LmdpbXAub3JnL3htcC8iIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06RG9jdW1lbnRJRD0iZ2ltcDpkb2NpZDpnaW1wOmM4MjI4ZDA4LThkYTUtNDFiZC04YTkwLTEzYTc4NDUxMmRiOSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1ZmRkMWI2ZS1jNzI4LTQwZGYtYWRhOC1lM2QzNzZjMDNjNTUiIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoyYzcwMTRiNC1lZmQ5LTRmOTktOWRiYi03YTRlMThiZmUyNTEiIGRjOkZvcm1hdD0iaW1hZ2UvanBlZyIgR0lNUDpBUEk9IjIuMCIgR0lNUDpQbGF0Zm9ybT0iTGludXgiIEdJTVA6VGltZVN0YW1wPSIxNjI4NTI3OTQ0MzcyMTUyIiBHSU1QOlZlcnNpb249IjIuMTAuMjQiIHhtcDpDcmVhdG9yVG9vbD0iR0lNUCAyLjEwIj4gPHhtcE1NOkhpc3Rvcnk+IDxyZGY6U2VxPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0ic2F2ZWQiIHN0RXZ0OmNoYW5nZWQ9Ii8iIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6OTk5YzMyYmItNTZlNS00YzMzLTg1YjUtZjA3NDA0NjdhNWQ5IiBzdEV2dDpzb2Z0d2FyZUFnZW50PSJHaW1wIDIuMTAgKExpbnV4KSIgc3RFdnQ6d2hlbj0iMjAyMS0wOC0wOVQxODo1MjoyNCswMjowMCIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPD94cGFja2V0IGVuZD0idyI/Pv/iArBJQ0NfUFJPRklMRQABAQAAAqBsY21zBDAAAG1udHJSR0IgWFlaIAflAAgACQAQADIALGFjc3BBUFBMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD21gABAAAAANMtbGNtcwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADWRlc2MAAAEgAAAAQGNwcnQAAAFgAAAANnd0cHQAAAGYAAAAFGNoYWQAAAGsAAAALHJYWVoAAAHYAAAAFGJYWVoAAAHsAAAAFGdYWVoAAAIAAAAAFHJUUkMAAAIUAAAAIGdUUkMAAAIUAAAAIGJUUkMAAAIUAAAAIGNocm0AAAI0AAAAJGRtbmQAAAJYAAAAJGRtZGQAAAJ8AAAAJG1sdWMAAAAAAAAAAQAAAAxlblVTAAAAJAAAABwARwBJAE0AUAAgAGIAdQBpAGwAdAAtAGkAbgAgAHMAUgBHAEJtbHVjAAAAAAAAAAEAAAAMZW5VUwAAABoAAAAcAFAAdQBiAGwAaQBjACAARABvAG0AYQBpAG4AAFhZWiAAAAAAAAD21gABAAAAANMtc2YzMgAAAAAAAQxCAAAF3v//8yUAAAeTAAD9kP//+6H///2iAAAD3AAAwG5YWVogAAAAAAAAb6AAADj1AAADkFhZWiAAAAAAAAAknwAAD4QAALbEWFlaIAAAAAAAAGKXAAC3hwAAGNlwYXJhAAAAAAADAAAAAmZmAADypwAADVkAABPQAAAKW2Nocm0AAAAAAAMAAAAAo9cAAFR8AABMzQAAmZoAACZnAAAPXG1sdWMAAAAAAAAAAQAAAAxlblVTAAAACAAAABwARwBJAE0AUG1sdWMAAAAAAAAAAQAAAAxlblVTAAAACAAAABwAcwBSAEcAQv/bAEMAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/bAEMBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/CABEIABsAAQMBEQACEQEDEQH/xAAXAAADAQAAAAAAAAAAAAAAAAADBAYJ/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAP/2gAMAwEAAhADEAAAAc5gQxNdn//EABkQAQACAwAAAAAAAAAAAAAAAAADEQQTFP/aAAgBAQABBQLbOpTjx3//xAAUEQEAAAAAAAAAAAAAAAAAAAAg/9oACAEDAQE/AR//xAAUEQEAAAAAAAAAAAAAAAAAAAAg/9oACAECAQE/AR//xAAbEAABBAMAAAAAAAAAAAAAAAACAAMz0hCTov/aAAgBAQAGPwKZ7cdsx9HZf//EABcQAAMBAAAAAAAAAAAAAAAAAAAQIfD/2gAIAQEAAT8hL2Rl/wD/2gAMAwEAAgADAAAAEBAP/8QAFBEBAAAAAAAAAAAAAAAAAAAAIP/aAAgBAwEBPxAf/8QAFBEBAAAAAAAAAAAAAAAAAAAAIP/aAAgBAgEBPxAf/8QAHBAAAQMFAAAAAAAAAAAAAAAAABARYXGRodHh/9oACAEBAAE/EAG+btlWOp9//9k=) repeat-x;
}

.extinfo_box_date {
    background: #292929;
}

.mediathek_top {
    filter: invert(80%);
}

.mediathek_bottom {
    filter: invert(80%);
}

.middle_extinfo_news {
    color: #9f9f9f;
}

.featherlight .featherlight-content {
    background: #333232;
}
.featherlight .featherlight-close-icon {
    background: #4f4e4ecc;
}

.span_padding {
    color: #9f9f9f;
}

.span_padding sub {
    color: #9f9f9f;
}

/* Top100 */

.extinfo_top_title {
    background: none;
}

.extinfo_top_title div.tab_active {
    filter: invert(80%);
}

.extinfo_top_subtitle {
    filter: invert(83%);
}

.extinfo_top_list {
    filter: invert(82%);
}

.extinfo_top_list_entry {
    background: none;
}

.extinfo_top_list_entry_odd, .extinfo_awaited_entry_even {
    background-color: #292929 !important;
}

.extinfo_top_list_entry .nr, .extinfo_awaited_entry .nr {
    color: #9b9b9b;
}

.extinfo_top_list_content {
    background: none;
    border-bottom: 1px solid #606060;
}

.extinfo_top_description {
    filter: invert(80%);
}

/* awaited */

div.table-head {
    filter: invert(80%);
}

div.table-row > div.w10, div.table-head > div.w10 {
    color: #828282;
}

/* TV */

.series_content {
    background: #242424;
}

/* Trailer */

h3.trailers_headline {
    color: #fff;
}

div.trailers_new {
    filter: invert(80%);
}

/* Board */

.board_forum_postcount {
    color: #9a9a9a;
}

.comment_odd {
    background-color: #333232;
}

.headline2 a:link, .headline2 a:visited {
    color: #9a9a9a;
}

.comment_helpful_frame {
    color: #fff;
}

.editor_frame {
    background: #333232;
}

.textarea {
    background: #3b3b3b;
}

textarea.textarea, .inputlike {
    border-color: #464646;
    color: #fff;
}

.emoticon-popup {
    border: 1px solid #464646;
    background: #333232;
}

/* Buttons */

input[type="reset"], input[type="submit"], input[type="button"], button[type="button"] {
    filter: invert(80%);
}

/* Settings */

.article {
    color: #9a9a9a;
}

input[type="text"], input[type="password"], input[type="date"], input[type="url"], input[type="email"], textarea.textarea, .inputlike {
    border-color: #464646;
    background: #333232;
    color: #fff;
}

.plot_frame {
    color: #fff;
}

.button_expand {
    background-color: #3b3b3b;
    border: #464646 solid 1px;
    color: #fff;
}

div.table-row > div.w90, div.table-head > div.w90 {
    color: #fff;
}

/* wiki rss api */

.bb_quote, .bb_box {
    background: #333232;
}

.headline3 a {
    color: #fff;
}

/* quickcheck */

.page-releases-quickcheck #raw-input {
    background: #333232;
    border: #464646 solid 1px;
}

/* p2p NFO Post*/

#p2p-nfo-post-bar-step1 {
    filter: invert(80%);
}

#p2p-nfo-post-bar-step2 {
    filter: invert(80%);
}

#p2p-nfo-post-bar-step3 {
    filter: invert(80%);
}

#p2p-nfo-post-bar-step4 {
    filter: invert(80%);
}

.wizard-steps {
    background: none;
    border-bottom: 1px solid #606060;
}

.wizard-step-contents .label {
    color: #fff;
}

.p2p-nfo-post-time {
    color: #fff;
}

.checkbox_label {
    color: #fff;
}

/* bottom menue*/

#bottom_sitemap {
    background: none;
}
