.release_us {
    background-position: top left !important;
} 
.release_highlight {
    background-position: top !important;
} 
.getReleaseName, .xrelSeToggle {
    cursor: pointer; 
}
.release_options {
    padding-top: 0px !important;
}
.release_options a img {
    width:13px; 
}
.release_options span img {
    width:13px; getReleaseName
}
.nfo_title .getReleaseName {
    margin-left:5px;
}
.nfo_title .getReleaseName img {
    width:16px; vertical-align: sub; 
}
#xrelAdvMenu {
    text-align: left;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    position: fixed;
    top:0px;
    left:-160px;
    padding: 10px;
    width: 150px;
    min-height: 50px;
    height: auto;
    background-color: rgba(255,255,255,0.9);
    z-index:100;
} 
.xrelAdvMenuConfig, .xrelAdvMenuSearch {
    margin-bottom: 10px 
}
.infobox {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
    z-index:101;
}

.dropdown-titel {
    background: url(/static/img/bg/sidebar_top.jpg) no-repeat;
    line-height: 30px;
    height: 30px;
    width: 210px;
    display: none;
    position: absolute;
    color: #fff;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.9);
    z-index: 1;
}

.dropdown-content {
    line-height: 20px; 
    width: 180px; 
    border-style: solid;
    border-width: 5px;
    border-color: #f2f1f1;
    padding: 0 0 0 20px;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.9);
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

.dropdown:hover .dropdown-titel {
    display: block;
}
#hovercover {
    position: fixed;
    background-color: #f2f1f1;
    border-style: solid;
    border-width: 6px;
    border-color: #f2f1f1;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.9);
}
